@keyframes rainbow-background-hue-rotate {
    0% {
        filter: none;
    }
    50% {
        filter: hue-rotate(180deg);
    }
    to {
        filter: none;
    }
}

// Backdrop canvas
.rainbow-background {
    position: absolute;
    z-index: -1;
    background: 800% 800% /* pos */
    linear-gradient(
                    to bottom right,
                    hsl(133, 67%, 59%),
                    hsl(172, 100%, 42%),
                    hsl(202, 97%, 45%),
                    var(--fds-solid-background-base)
    );
    animation: rainbow-background-hue-rotate 15s infinite linear,
    scroll-gradient 15s infinite linear;
    inset-inline-end: 0;
    inset-block-end: 0;
    inline-size: 60vw;
    min-inline-size: 100vh;
    block-size: 100%;

    mask: url("/ui/hero-mask.png") bottom / cover no-repeat;

    @media (prefers-color-scheme: light) {
        opacity: 0.5;
    }

    @media screen and (width < 1024px) {
        inline-size: 100%;
        transform: rotate(90deg) scale(1.5);
    }

    @media screen and (width < 648px) {
        block-size: 60vh;
        mask-size: 100% 100%;
    }
}